<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class='navbar-brand' [routerLink]="['/admin']">LIBRARY</a>
  </div>
  <ul class="nav navbar-top-links navbar-right">
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['app-login']">
        <span class='glyphicon glyphicon-log-out'></span> Log off
      </a>
    </li>
  </ul>
</nav>
